@tailwind base;
@tailwind components;
@tailwind utilities;

section{
    overflow: hidden;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.reveal {
    opacity: 0;
    transition: all 0.6s ease;
}

/* Reveal from bottom to top */
.reveal-bottom {
    transform: translateY(100px);
}

.reveal-bottom.active {
    transform: translateY(0);
    opacity: 1;
}

/* Reveal from top to bottom */
.reveal-top {
    transform: translateY(-100px);
}

.reveal-top.active {
    transform: translateY(0);
    opacity: 1;
}

/* Reveal from left to right */
.reveal-left {
    transform: translateX(-100px);
}

.reveal-left.active {
    transform: translateX(0);
    opacity: 1;
}

/* Reveal from right to left */
.reveal-right {
    transform: translateX(100px);
}

.reveal-right.active {
    transform: translateX(0);
    opacity: 1;
}